GRPC_PORT=50051 # Порт для подключения по gRPC
HTTP_PORT=8080  # Порт для HTTP прокси

POSTGRES_USER="root" # Имя пользователя Postgres
POSTGRES_PASSWORD="1234" # Пароль от Postgres
POSTGRES_DB="postgres" # Имя базы данных Postgres
POSTGRES_HOST="postgres" # Адрес хоста базы данных Postgres
POSTGRES_PORT=5432 # Порт для Postgres
 
MAP_USER="root" # Имя пользователя базы данных Map
MAP_PASSWORD="1234" # Пароль от базы данных Map
MAP_DB="map" # Имя базы данных Map